{% extends 'layout.twig' %}
{% block content %}

<h1>Hello World</h1>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae nisi, voluptatibus numquam aspernatur illum dignissimos voluptatum iste quod blanditiis neque ex nobis perferendis soluta delectus sapiente eaque provident, tempore quisquam?

{% endblock %}
